.table {
    margin: 0 0 20px 0;
    border: 1px solid #d3d2d2;
    color: #000;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.table th {
    background-color: #f3eaea;
    font-weight: 550;
    color: #000;
}

.table tbody tr:nth-child(even) {
    background-color: #fafafa;
}

.table tbody tr:hover {
    background-color: #f0f0f0;
}

.col-index {
    width: 15%;
    flex: 0 0 50px;
}

.col-name {
    width: 15%;
}

.col-username {
    width: 30%;
}