.donut-box {
    border: 1px solid #d3d2d2;
    width: 600px;
    max-width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #FFF;
}

.custom-header {
    background-color: #f3eaea;
    color: #000;
}

@media (max-width: 768px) {
    .donut-box {
        max-width: 100%;
    }
}

@media (max-width: 428px) {
    .donut-box {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
}
