<div *ngIf="loading">
    Loading...
</div>

<div *ngIf="errorMessage">
    {{ errorMessage }}
</div>
<div class="row">
    <div class="charts-grid" *ngIf="data">
        <h2>Overview</h2>
        <div class="col-md-4">
            <app-donut-chart [data]="chartDonut"></app-donut-chart>
        </div>
        <div class="col-md-4">
            <app-bar-chart [data]="chartBar"></app-bar-chart>
        </div>
    </div>
</div>

<div class="row">
    <div class="table-grid">
        <h2>User List</h2>
        <div class="col-md-8">
            <app-users [data]="tableUsers"></app-users>
        </div>
    </div>
</div>