// charts section
.charts-grid,
.table-grid {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}

.charts-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: flex-start;
}

.charts-grid h2 {
    width: 100%;
    margin: 0 0 20px 0;
}

.charts-grid .col-md-4 {
    flex: 1 1 450px;
    max-width: 500px;
    margin-bottom: 0;
}

.table-grid h2 {
    margin: 0 0 20px 0;
}

@media (max-width: 768px) {
    .charts-grid {
        padding: 15px;
    }

    .col-md-4 {
        width: 100%;
    }
}


/* Mobile (400px and below) */
@media (max-width: 428px) {
    .charts-grid {
        width: 100%;
        // padding: 10px;
    }

    .charts-grid h2 {
        font-size: 1.25rem;
        margin-bottom: 15px;
    }

    .col-md-4 {
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
}