// charts section
.charts-grid {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
    gap: 20px;
}

.charts-grid h2 {
    width: 100%;
    text-align: left;
    margin: 0 0 20px 0;
}

.charts-grid .row {
    justify-content: center;
}

.col-md-4 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

// users section
.table-grid {
    margin: 0 auto;
    width: 80%;
    padding: 16px;
}

.table-grid h2 {
    width: 100%;
    text-align: left;
    margin: 0 0 20px 0;
}

.table-grid .row {
    justify-content: center;
}

@media (max-width: 768px) {
    .charts-grid {
        padding: 15px;
    }

    .col-md-4 {
        width: 100%;
    }
}


/* Mobile (400px and below) */
@media (max-width: 428px) {
    .charts-grid {
        width: 100%;
        // padding: 10px;
    }

    .charts-grid h2 {
        font-size: 1.25rem;
        margin-bottom: 15px;
    }

    .col-md-4 {
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
}